
<h1>{{ site.data.contact.page_title }}</h1>

<ul class="menu fa-ul">
  {% if site.data.contact.resume_url %}
  <li><i class="far fa-li fa-file-pdf"></i><a href="{{ site.data.contact.resume_url }}">{{ site.data.contact.resume_title | default: site.data.contact.resume_url }}</a></li>
  {% endif %}
  {% if site.data.contact.linkedin_url %}
  <li><i class="fab fa-li fa-linkedin"></i><a href="{{ site.data.contact.linkedin_url }}">{{ site.data.contact.linkedin_title | site.data.contact.linkedin_url }}</a></li>
  {% endif %}
  {% if site.data.contact.email_address %}
  <li><i class="fas fa-li fa-envelope"></i>{{ site.data.contact.email_address }}</li>
  {% endif %}
</ul>

