<h1>Highlights</h1>

<h2>Languages</h2>

<p>Java, C#, Python, HTML/CSS, JavaScript, PowerShell, Bash, SQL, Perl, C/C++, Elm</p>

<h2>Frameworks</h2>

<p>NodeJS, AngularJS, KnockoutJS, Bootstrap, Express, Django, Hibernate, Spring, jBPM, WPF, WebApi, MVC5, Entity Framework, SSIS</p>

<h2>Technologies</h2>

<p>REST, SOAP, PKI, SNMP, Git, TFS, SVN, GitHub, LDAP, Active Directory, JIRA, Postman, Andriod SDK</p>

<h2>Databases</h2>

<p>MongoDB, PostgreSQL, SQL Server, MySQL, BigTable, Redis</p>

<h2>Competencies</h2>

<p>Linux, Windows Server, Mac OS X, Threat modeling, Performance tuning, Service oriented architecture (SOA)</p>

<h2>Cloud Environments</h2>

<p>Heroku, Google Cloud Platform, Azure, AWS</p>
