---
---

@import '{{ site.theme }}';
@import url("https://fonts.googleapis.com/css?family=Exo|Cutive+Mono|Karma");


.center {
    text-align: center;
}

body {
    font-family: Karma, 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 1.33em;
}

strong {
    font-weight: 500;
}
    

h1, h2, h3, h4, h5, h6 {
    font-family: 'Exo', 'Helvetica Neue', Helvetica, Arial, serif;
    line-height: 1.33em;
    /*font-weight: normal;*/
}

blockquote {
    font-family: "Cutive Mono", "Consolas", "Courier New", Courier, monospace;
    font-size: 0.8em;
    margin-left: 20px;
    padding: 8px 10px 1px 20px;
    border-color: #313131;
    background-color: #515151;
    background-image: linear-gradient(150deg, #515151, #313131);
    color: #f1f1f1;
}


header {
    background-image: linear-gradient(150deg, #515151, #313131);
    margin-top: 0.67em;
    h2 {
        color: #d4dae9;
    }
}

footer {
    display: block;
    position: relative;
}

a.button {
    font-family: 'Exo', 'Helvetica Neue', Helvetica, Arial, serif;
}

#content-wrapper {
    padding-top: 1em;
    a {
        color: #ca3d47;
        border-bottom: dashed 1px #ca3d47;
        &:hover {
            color: #ca3e47;
            background-color: #d4dae9;
        }
    }

    ul.menu {
        font-family: "Cutive Mono", "Consolas", "Courier New", Courier, monospace;
        list-style: none;
        padding-left: 0;
        font-weight: 300;
        li {
            &.active a {
                color: inherit;
            }
        }
    }

    #main-content {
        h1, h2, h3, h4, h5, h6 {
            font-family: 'Karma', 'Helvetica Neue', Helvetica, Arial, serif;
            text-indent: 0;
            padding: 3px 0 6px 0;
            &::before {
                padding-right: 0;
                margin-left: 0;
                content: "";
                color: inherit;
            }
        }
        h1 { font-size: 2em; }
        h2 { font-size: 1.66em; }
        h3 { font-size: 1.47em; }
        h4 { font-size: 1.25em; }
        h5 { font-size: 1.12em; }
        h6 { font-size: 1em; }

        ul.menu {
            li {
                display: inline;
            }
        }
    }

    aside#sidebar {
        font-size: 0.8em;
        line-height: 1.33em;

        h1, h2, h3, h4, h5, h6 {
            font-family: 'Karma', 'Helvetica Neue', Helvetica, Arial, serif;
            font-weight: 700;
            text-indent: 0;
        }
        
        ul.fa-ul {
            margin-left: 1.5em;
        }
    }

    .small-anchor-link {
        font-size: medium;
        border: inherit;
        &:hover {
            background-color: inherit;
        }
    }


    footer, ul.menu, li, aside#sidebar {
        a {
            border-bottom: inherit;
            &:hover {
                color: inherit;
                background-color: inherit;
            }
        }
    }
}
