---
---

@import "{{ site.theme }}";

.logo {
    width: 64px;
    display: block;
    margin: 15px 0;
}

blockquote {
    margin: 0 0 20px 5px;
}

blockquote p {
    display: inline;
    font-size: 0.9em;
    font-style: normal;
    line-height: 1.2;
    font-family: "Inconsolata", "Consolas", "Courier New", Courier, monospace;
}

body {
     font-family: "Avenir Next", "Calibri", "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Noto Sans", "Calibri Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

section h2, section h3 {
    /*font-variant: all-small-caps;*/
    font-weight: 500;
}

strong {
       font-weight: 300;
       font-size: 1.25em;
}

footer ul.fa-ul {
       font-size: 0.8em;
       margin-left: 0;
}

footer .contactinfo {
    text-align: center;
    font-variant: all-small-caps;
}
