---
---

@import '{{ site.theme }}';

.center {
    text-align: center;
}

body {
    font-family: "Avenir Next", 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 20px;
}

a {
    border-bottom: dashed 1px #275da1;
    &:hover {
        color: #275da1;
        background-color: #d4dae9;
    }
}

strong {
    font-weight: 500;
}
    

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

blockquote {
    font-family: "Inconsolata", "Consolas", "Courier New", Courier, monospace;
    font-size: 1em;
    margin-left: 20px;
    padding: 5px 10px 0 20px;
    border-color: #2e7bcf;
    background-color: #d4dae9;
}


header {
    background-image: linear-gradient(90deg, #2e7bcf, #275da1);

    h2 {
        color: #d4dae9;
    }
}

footer {
    display: block;
    position: relative;
}

#content-wrapper {
    padding-top: 1em;
}

#main-content {
    h1 { font-size: 2em; }
    h2 { font-size: 1.75em; }
    h3 { font-size: 1.5em; }
    h4 { font-size: 1.25em; }
    h5 { font-size: 1.15em; }
    h6 { font-size: 1em; }
}

aside#sidebar {
    font-size: 16px;
    line-height: 1.5;

    h1, h2, h3, h4, h5, h6 {
        font-weight: 500;
    }
    h1 { font-size: 1.5em; }
    h2, h3, h4, h5, h6 { font-size: 1em; }

    ul.fa-ul {
        margin-left: 1.5em;
    }
}

.small-right-link {
    float: right;
    font-size: x-small;
    border: inherit;
    &:hover {
        background-color: inherit;
    }
}

ul.menu {
    font-family: "Inconsolata", "Consolas", "Courier New", Courier, monospace;
    font-size: 0.75em;
    line-height: 1.1;
    padding-left: 0;
    
    li {
        display: inline;
        &.active a {
            color: inherit;
        }
    }
}

footer, ul.menu li {
    a {
        border-bottom: inherit;
        &:hover {
            color: inherit;
            background-color: inherit;
        }
    }
}
