---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import '{{ site.theme }}';
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro|Lora");

/*
Coolors.co
#1756A9 bedazzled blue
#0D1321 rich black
#1D2D44 prussian blue
#3E92CC Tufts blue
#427AA1 Steel blue
#EDF2FA Alice blue
*/
$theme-light-color: #3E92CC;
$theme-dark-color: #1756A9;

$highlight-bg-color: #FAFAFA;
$highlight-text-color: #1D2D44;
$highlight-border-color: #e8e8e8;

.site-header {
    border-top-width: 1.0em;
    border-top-color: $theme-dark-color;
    border-bottom-color: $theme-light-color;

    a.site-title:hover {
        text-decoration: none;
    }
}

.site-footer {
    border-top-color: $theme-light-color;
}

.page-content {
    font-size: 1.3em;
    font-family: "Lora", "Helvetica Neue", Helvetica, Arial, serif;

    h1, h2, h3, h4, h5, h6, strong {
        font-weight: 500;
    }
    h1 { font-size: 1.5em; }
    h2 { font-size: 1.2em; }
    h3 { font-size: 1.15em; }
    h4 { font-size: 1.0em; }
    h5 { font-size: 0.8em; }
    h6 { font-size: 0.65em; }

    pre, code {
	font-family: "Source Code Pro", "Consolas", "Courier New", Courier, monospace;
	font-size: 0.9em;
	color: $highlight-text-color;
	background-color: inherit;
    }

    a:hover, a:visited {
	color: $theme-dark-color;
    }

    blockquote {
        font-size: inherit;
        color: $highlight-text-color;
        border-left: 8px solid $theme-light-color;
	border-bottom: 1px solid $highlight-border-color;
	background-color: $highlight-bg-color;
	padding: 8px 0 8px 15px;
    }

    .highlighter-rouge .highlight {
	background: $highlight-bg-color;
	border: 1px solid $highlight-border-color;
    }
    
    ul li.external-link {
	list-style-type: none;
	margin-left: -30px;

	.external-link-suffix {
	    font-size: 0.75em;
	    color: $theme-dark-color;
	    vertical-align: text-top;
	}
    }

}

.img-responsive-33 {
    width: 33%;
    height: auto;
    min-width: 200px;
}

.pull-right {
    float: right;
}

.img-profile {
    margin: 10px;
    border-radius: 25%;
}

.contact-list.fa-ul {
    margin-left: 0;

    /* select li after 1st */
    li ~ li {
	margin-left: 1.5em;
    }
}
