---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import '{{ site.theme }}';
@import url("https://fonts.googleapis.com/css?family=Cutive+Mono|Karma");

$theme-light-color: #BCCAFE;
$theme-dark-color: #1756a9;

.site-header {
    border-top-width: 1.0em;
    border-top-color: $theme-dark-color;
    border-bottom-color: $theme-light-color;
}

.site-footer {
    border-top-color: $theme-light-color;
}

.page-content {
    font-size: 1.3em;
    font-family: Karma, 'Helvetica Neue', Helvetica, Arial, serif;

    h1 { font-size: 1.5em; }
    h2 { font-size: 1.2em; }
    h3 { font-size: 1.15em; }
    h4 { font-size: 1.0em; }
    h5 { font-size: 0.8em; }
    h6 { font-size: 0.65em; }
    
    blockquote {
	font-family: "Cutive Mono", "Consolas", "Courier New", Courier, monospace;
    }

    ul li.external-link {
	list-style-type: none;
	margin-left: -30px;
	color: $theme-dark-color;
    }

}

.img-responsive-33 {
    width: 33%;
    height: auto;
    min-width: 200px;
}

.pull-right {
    float: right;
}

.img-profile {
    margin: 10px;
    border-radius: 25%;
}

.contact-list.fa-ul {
    margin-left: 0;

    /* select li after 1st */
    li ~ li {
	margin-left: 1.5em;
    }
}
